<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/{{ site.nickname }}">Author</a></li>
        <hr style="margin: 6px;">
        <!-- -----------------TAGS SECTION ----------------- -->
        {% for tag in site.tags %}
            {% assign tagname =  tag | first %}
            <li class="nav-{{tagname}} {% if page.url contains tagname %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/{{tagname}}">{{ tagname | capitalize }}</a></li>
        {% endfor %}
        <!-- -----------------TAGS SECTION ----------------- -->
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
